* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(37, 37, 37);
    line-height: 1.8em;
    height: 100%;
}

.bimage {
    min-height: 10%;
    background-image: url("images/mountain.png");
    position: relative;
    opacity: 0.7;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.content-container {
    position: absolute;
}

div.article-container {
    margin-top: 50px;
    text-align: center;
    color: white;
}
article {
    margin-top: 25px;
    margin-bottom: 35px;
}

.heading-holder {
    font-size: 24px;
    color: aliceblue;
}

p.text {
    width: 40%;
    margin-top: 15px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}
